.moviesDetails {
  /* display: flex; */
  /* align-items: flex-start; */
}
.divTotal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
}
.leftDiv {
}
.rightDiv {
}

.rightDivMovieTitle {
  font-style: italic;
}

.CastReviews {
  display: flex;
  justify-content: center;
  align-item: center;
  gap: 20px;
  padding-top: 30px;
  padding-left: 30px;
}
.navLink {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: lightseagreen;
}

.genresList {
  list-style: none;
  display: inline-flex;
  gap: 12px;
}
.genresElement {
  padding: 8px;
  font-size: 13px;
  color: white;
  background-color: rgb(138, 43, 226);
  border-radius: 10px;
  font-weight: bold;
}
.genresElement:hover {
  background-color: gray;
  cursor: auto;
}

.UserScore {
  font-style: italic;
}
.UserScore::before {
  font-weight: bold;
  content: 'User Score: ';
}
